/* You could change the font */
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 80px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	min-height: px;
	@include box-shadow(none !important);
	border: 5px solid #D6222B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px} 

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

.nav li {
	font-size: 16px;
	line-height: 45px;
}
/* Required for jQuery Masonry */

