<h1>Your Products</h1> 
<%= link_to 'Add Product', new_product_path, class: "btn btn-danger" %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Product name</th>
                <th>Brand</th>
                <th>Sale price</th>
                <th>Boutique</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <%= render @products %>
        </tbody>
    </table>

    <br />

    <%= link_to 'Add Product', new_product_path, class: "btn btn-danger" %>

<%= will_paginate @products %>