<div class ="footer">
	<small>
		<div>Shopulse Retailer Photo Uploader</div>
		<div><%= link_to "Having trouble? Call (506) 962-3041 or email raphael@shopulse.com
		", "mailto:raphael@shopulse.com?Subject=Trouble%20with%20photo%20uploader" %></div>
	</small>
</div>